.prescoring-form {
  margin-top: 44px;
  margin-bottom: 96px;
  background-color: $color-light;
  padding: 32px;
  border-radius: 28px;
  box-shadow: $shadow-default;
}

.prescoring-form__header {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: $breakpoint-xl) {
  .prescoring-form__header {
    flex-direction: column;
  }
}

.prescoring-form__title-wrapper {
  @include flex(space-between, center);
  column-gap: 30px;
  row-gap: 10px;
}

@media screen and (max-width: $breakpoint-xl) {
  .prescoring-form__title-wrapper {
    flex-direction: column;
  }
}

.prescoring-form__title {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  line-height: 1;
}

.prescoring-form__step {
  font-size: $font-size-m;
  font-weight: $font-weight-medium;
  line-height: 1;
}

.prescoring-form__amount {
  margin-top: 32px;
  width: 568px;
}

@media screen and (max-width: $breakpoint-md) {
  .prescoring-form__amount {
    width: 100%;
  }
}

.prescoring-form__text {
  font-size: $font-size-m;
  font-weight: $font-weight-medium;
  line-height: 1;
}

.prescoring-form__number {
  margin-top: 20px;
  font-size: $font-size-m;
  font-weight: $font-weight-medium;
  line-height: 1;
}

.prescoring-form__slider {
  margin-top: 22px;
  border: 2px solid #e2e8f0;
}

.prescoring-form__amount-wrapper {
  margin-top: 9px;
  @include flex(space-between, center);
}

.prescoring-form__amount-number {
  font-size: $font-size-m;
  font-weight: $font-weight-medium;
  line-height: 1;
  color: #786d6d;
}

.prescoring-form__info-title {
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
  line-height: 1;
  color: $color-dark;
}

.prescoring-form__info-amount {
  margin-top: 16px;
  margin-bottom: 10px;
  font-size: $font-size-m;
  font-weight: $font-weight-medium;
  line-height: 1;
}

.prescoring-form__divider {
  width: 1px;
  border: 1px dashed #80808066;
  height: 150px;
}

@media screen and (max-width: $breakpoint-xl) {
  .prescoring-form__divider {
    width: 100%;
    border: 1px dashed #80808066;
    height: 1px;
  }
}

.prescoring-form__content {
  margin-top: 32px;
}

.prescoring-form__content-title {
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
  line-height: 1;
  color: $color-dark;
}

.prescoring-form__fields {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.prescoring-form__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

@media screen and (max-width: $breakpoint-xl) {
  .prescoring-form__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .prescoring-form__grid {
    grid-template-columns: 1fr;
  }
}

.prescoring-form__btn {
  width: 148px;
  margin-left: auto;
}

@media screen and (max-width: $breakpoint-sm) {
  .prescoring-form__btn {
    width: 100%;
  }
}

.loading {
  min-height: 300px;
  @include flex(center, center);
}

.error {
  min-height: 300px;
  @include flex(center, center);
}
